.section {
  margin-bottom: 40px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.container{
  background-color: #2d3436;
  min-height: 400px;
  padding: 20px;
  border: 4px solid #636e72;
  border-radius: 12px;
}
.item {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.item-1 { background-color: #ff7675; }
.item-2 { background-color: #74b9ff; }
.item-3 { background-color: #55efc4; }
.item-4 { background-color: #fdcb6e; }